<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="POST" action="{% url "login" %}">

        {% csrf_token %}

        <input type="text" placeholder="username" name="username">

        <input type="password" placeholder="password" name="password">

        <button type="submit">Sign in!</button>

    </form>
</body>
</html>